.login-fullwidith {
    height: 420px;
}


@media (min-width: 600px) {
    .login-wrap {
        width: 450px;
    }
}

.login-wrap {
    margin-left: calc(50% - 225px) !important;
    margin-top: 50px;
}


.register-fullwidith {
    height: 580px;
}

.register-wrap {
    width: 450px;
    background: transparent;
    margin-left: calc(50% - 225px) !important;
    margin-top: 50px;
    position: absolute;
}


.register-c1 {
    width: 94%;
    height: 147px;
    background: #ffffff;
    z-index: 100;
    position: absolute;
    margin-left: 3%;
    border: 1px solid #dcdcdc;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.register-c1 {
    height: 380px !important;
}


.register-c2 {
    width: 100%;
    height: 171px;
    background: #f2f2f2;
    color: #666;
    z-index: 50;
    margin-top: 50px;
    position: absolute;
    border: 1px solid #dcdcdc;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

.register-c2 {
    height: 420px !important;
}


.navbar-brand {
    padding: 0px 15px 0px 0 !important;
}

img.logo {
    width: 190px;
}

.footer-logo {
     width: 140px !important;
}

.tether-element{
    z-index: 1031 !important;
}

.selectToday {
    display: none !important;
}