.form-control {
    width: 100%;
}

.card {
    background: #0f3e68;
    opacity: 0.5;
}

.contact-area {
    background-image: url('../../assets/img/contact.jpg');
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: #ffffff !important;
    max-width: 100%;
    height: auto;
}

.contact-area-container {
    padding-top: 230px;
    padding-bottom: 160px;
}

.contact-area input {
    color: #fff !important;
    font-weight: bold;
}

.contact-area button {
    color: #fff;
    font-weight: bold;
}

