.contact-area {
    background-image: url('../../assets/img/contact.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
}

.contact-area-container {
    padding-top: 230px;
    padding-bottom: 160px;
}

.card {
    background: #0f3e68 !important;
    opacity: 0.7 !important;
}

.card-header {
    border-bottom: 1px solid #cccccc;
}
