.form-control {
    padding: 20px 0px 20px 12px;
    border-radius: 6px;
}

.card {
    background: #0f3e68;
    opacity: 0.5;
}

.contact-area {
    background-image: url('../../assets/img/contact.jpg');
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: #ffffff;
    max-width: 100%;
    height: auto;
}

.contact-area-container {
    padding-top: 230px;
    padding-bottom: 160px;
}

.contact-area input {
    color: #000;
    font-weight: bold;
}

.contact-area button {
    padding: 8px 15px;
    margin-left: 15px;
    margin-top: 15px;
    color: #000;
    font-weight: bold;
}

