.flight-list-container{
    padding-top: 80px;
    padding-bottom: 30px;
}

.marginRight5{
    margin-right: 5px;
}

.marginTop5{
    margin-top: 5px;
}

.btn-search3{
    bottom: 8px;
}

.wh100percent{
    padding-top: 10px;
}