.flight-payment-area {
    padding: 20px 0px 50px 0px;
    background-color: #F1F1F1;
}

.flight-payment-form {
    padding: 20px;
    background-color: #fff;
}

.flight-payment-header {
    font-size: 18px;
}