.flight-list-area {
    padding: 50px 0px;
    background-color: #F1F1F1;
}

.flight-list-area-container {
    background-color: #fff;
}

.trip-searched-area {
    padding: 25px;
}

.trip-searched-header {
    font-size: 14px;
    color: #e4ac56;
    font-weight: 500;
}

.trip-searched-header-text {
    color: #80724b;
}