.flight-payment-info-area {
    padding: 50px 0px 80px 0px;
    background-color: #F1F1F1;
}

.nav-tabs {
    background: #bbb7fb;
}

.nav-tabs .nav-link {
     border: none !important;
     border-top-left-radius: 0px !important;
     border-top-right-radius: 0px !important;
}