.scont {
    /*text-align: left;*/
    color: #999;
    font-size: 14px;
}

.scont a {
    color: #0099cc;
    font-size: 14px;
    font-weight: normal;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    transition: .3s
}

.scont a:hover {
    color: #72BF66;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
}

.grey2 {
    color: #666;
}

.footerbgblack {
    width: 100%;
    background: #15262f;
    padding: 60px 0;
    margin-top: 0px;
    overflow: hidden;
}

.ftitleblack {
    font-family: "Open Sans";
    Font-size: 16px;
    color: #b1b8b8;
    font-weight: 700;
}

a.social1b {
    margin: 0 5px;
}

a.social2b {
    margin: 0 5px;
}

a.social3b {
    margin: 0 5px;
}

a.social4b {
    margin: 0 5px;
}

ul.footerlistblack {
    padding-left: 0px;
    /*list-style-image: url('../img/li2.png');*/
}

ul.footerlistblack li {
    line-height: 24px;
    list-style: none;
}

ul.footerlistblack li a {
    color: #999;
    text-decoration: none;
}

ul.footerlistblack li a:hover {
    color: #0099cc;
    text-decoration: none;
}

.pnr {
    font-family: "Open Sans";
    font-size: 30px;
    color: #0099cc;
    font-weight: 300;
}

.privacy {
    text-decoration: none;
    color: #0099cc;
}
.gridSinglePortion{
    text-align: left;
}

.fa-angle-right{
    color: whitesmoke;
    font-size: 11px !important;
    background: #4e5b6c;
    border-radius: 50%;
    margin-right: 5px;
    width: 1.2em !important;
    height: 1.2em !important;
}

.footerLogo {
    width: 140px !important;
}

.socials {
    text-align: right;
}

@media screen and (max-width: 992px) {
    .partnership, .socials {
        padding-top: 15px;
    }
}

@media screen and (max-width: 768px) {
    .customer-support, .partnership, .socials {
        padding-top: 15px;
    }
}