@media screen and (max-width: 992px) {
    .partnership-area {
        margin-top: 20px;
        text-align: center;
    }

    .social-area {
        margin-top: 20px;
    }

    .footer-logo-area {
        text-align: center;
    }

    .partnership-area ul li {
        padding-left: 20px;
        list-style: none;
        list-style-image: url('');
    }
}