.login-area, .register-area{
    background-image: url('../../assets/img/contact.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
}

.login-area-container, .register-area-container{
    padding-top: 230px;
    padding-bottom: 160px;
}

.register-overlay, .login-overlay {
    background-color: #000;
    opacity: 0.6;
}

.password_not_matched {
    border: 1px solid red !important;
}

.marginTopDecrease {
    margin-top: -8px;
}

.fade {
    opacity: 1;
}

.card-header {
    border-bottom: 1px solid #cccccc !important;
}