.inner{
    text-align: center;
    color: #fff;
    font-size: 30px;
    margin-top: 10%;
    color: #2a2c2a;
}

.inner h2{
    font-size: 50px;
    margin-bottom: 0px;
    color: #682828;
}

.slider{
    height: 100vh;
}

.slider-button {
    -webkit-appearance: none;
    appearance: none;
    -webkit-filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.1));
    filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.1));
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border: none;
    background: #ffd800;
    border-radius: 30px;
    text-transform: uppercase;
    box-sizing: border-box;
    padding: 15px 40px;
    font-weight: 400;
    font-size: 13px;
    cursor: pointer;
    margin-top: 28px;
}

.slider-button:hover {
    color: #ffffff;
    background: #222222;
    -webkit-filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2));
}

.cstyle04 {
    position: relative;
    top: 90px;
}